<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div id="list-content">
        <div class="route-container" *ngFor="let route of mRoutes" (click)="onClickRoute(route)">
            <div class="route-code">{{route.mCode}}</div>
            <div class="route-name">{{route.mName}}</div>
        </div>
    </div>
</ion-content>

<div *ngIf="mLoadingData" class="loading-view">
    <div class="a1-container">
        <div class="a1-container-bottom">
            <div padding text-center>
                <ion-spinner name="bubbles"></ion-spinner>
            </div>
            <div text-center>
                Đang tải dữ liệu...
            </div>

            <div style="height:40px"></div>
        </div>
    </div>
</div>